
<nav class="main-nav">
	<span>Modulos</span>
	<a {% if page.url contains 'm1' %}class="main-nav-link actual"{% else %}class="main-nav-link"{% endif %} href="{{ '/modulos/m1/' | prepend: site.baseurl }}" title="{{ page.title }}">1</a>
	<a {% if page.url contains 'm2' %}class="main-nav-link actual"{% else %}class="main-nav-link"{% endif %} href="{{ '/modulos/m2/' | prepend: site.baseurl }}" title="{{ page.title }}">2</a>
	<a {% if page.url contains 'm3' %}class="main-nav-link actual"{% else %}class="main-nav-link"{% endif %} href="{{ '/modulos/m3/' | prepend: site.baseurl }}" title="{{ page.title }}">3</a>
	<a {% if page.url contains 'm4' %}class="main-nav-link actual"{% else %}class="main-nav-link"{% endif %} href="{{ '/modulos/m4/' | prepend: site.baseurl }}" title="{{ page.title }}">4</a>
	<a {% if page.url contains 'm5' %}class="main-nav-link actual"{% else %}class="main-nav-link"{% endif %} href="{{ '/modulos/m5/' | prepend: site.baseurl }}" title="{{ page.title }}">5</a>
	<a {% if page.url contains 'm6' %}class="main-nav-link actual"{% else %}class="main-nav-link"{% endif %} href="{{ '/modulos/m6/' | prepend: site.baseurl }}" title="{{ page.title }}">6</a>
	<a {% if page.url contains 'm7' %}class="main-nav-link actual"{% else %}class="main-nav-link"{% endif %} href="{{ '/modulos/m7/' | prepend: site.baseurl }}" title="{{ page.title }}">7</a>
	<a {% if page.url contains 'm8' %}class="main-nav-link actual"{% else %}class="main-nav-link"{% endif %} href="{{ '/modulos/m8/' | prepend: site.baseurl }}" title="{{ page.title }}">8</a>
	<a {% if page.url contains 'm9' %}class="main-nav-link actual"{% else %}class="main-nav-link"{% endif %} href="{{ '/modulos/m9/' | prepend: site.baseurl }}" title="{{ page.title }}">9</a>
</nav>
